In [1]:
# Dependencies and Setup
import pandas as pd

In [2]:
# File location
data_file = "Resources/purchase_data.csv"

In [3]:
# Read file into pandas and display data frame
data_file_df = pd.read_csv(data_file)
data_file_df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [4]:
# Obtain number of total players
players = data_file_df["SN"].value_counts()
players

Lisosia93       5
Iral74          4
Idastidru52     4
Lassilsala30    3
Umolrian85      3
               ..
Alo38           1
Lisosia66       1
Lisirra25       1
Frichosia58     1
Jiskirran77     1
Name: SN, Length: 576, dtype: int64

In [5]:
# Display data frame
total_df = {"Total Players": [len(players)]}
df = pd.DataFrame(total_df)
df

   Total Players
0            576

In [6]:
# Count number of items
items = len(data_file_df["Item ID"].value_counts())
items

179

In [7]:
# Obtain average price
average_price = round(data_file_df["Price"].mean(),2)
average_price

3.05

In [8]:
# Count total purchases
purchases = len(data_file_df["Purchase ID"].value_counts())
purchases

780

In [9]:
# Obtain revenue
revenue = data_file_df["Price"].sum()
revenue

2379.77

In [10]:
# Display data frame
purchase_analysis_df = pd.DataFrame({
            "Number of Unique Items":[items],
            "Average Price": [average_price], 
            "Number of Purchases": [purchases], 
            "Total Revenue":[revenue]})
purchase_analysis_df["Average Price"] = purchase_analysis_df["Average Price"].map("${:.2f}".format)
purchase_analysis_df["Total Revenue"] = purchase_analysis_df["Total Revenue"].map("${:,.2f}".format)
purchase_analysis_df

   Number of Unique Items Average Price  Number of Purchases Total Revenue
0                     179         $3.05                  780     $2,379.77

In [11]:
# Count players by gender
gender_count = data_file_df.groupby("Gender")
gender_count
total_gender = gender_count.nunique()["SN"]
total_gender

Gender
Female                    81
Male                     484
Other / Non-Disclosed     11
Name: SN, dtype: int64

In [12]:
# Percentage of gender
gender_percents = total_gender / len(players) * 100
gender_percents

Gender
Female                   14.062500
Male                     84.027778
Other / Non-Disclosed     1.909722
Name: SN, dtype: float64

In [13]:
# Display data frame
gender_table_df = pd.DataFrame({"Total Count": total_gender,
              "Percentage of Players": gender_percents.map("{:,.2f}%".format)})
gender_table_df.sort_index()

                       Total Count Percentage of Players
Gender
Female                          81                14.06%
Male                           484                84.03%
Other / Non-Disclosed           11                 1.91%

In [14]:
# Count purchase by gender
purchase_gender = gender_count["Purchase ID"].count()
purchase_gender

Gender
Female                   113
Male                     652
Other / Non-Disclosed     15
Name: Purchase ID, dtype: int64

In [15]:
# Obtain the average price by gender
avg_purchase_gender = round(gender_count["Price"].mean(),2)
avg_purchase_gender

Gender
Female                   3.20
Male                     3.02
Other / Non-Disclosed    3.35
Name: Price, dtype: float64

In [16]:
# Obtain the total value by gender
total_purchase_gender = gender_count["Price"].sum()
total_purchase_gender

Gender
Female                    361.94
Male                     1967.64
Other / Non-Disclosed      50.19
Name: Price, dtype: float64

In [17]:
# Calculate average price per person
avg_person_gender = total_purchase_gender / total_gender
avg_person_gender = avg_person_gender.astype(float)
avg_person_gender

Gender
Female                   4.468395
Male                     4.065372
Other / Non-Disclosed    4.562727
dtype: float64

In [18]:
# Display data frame
per_gender_df = pd.DataFrame({"Purchase Count": purchase_gender,
                     "Average Purchase Price": avg_purchase_gender.map('${:,.2f}'.format),
                     "Total Purchase Value":total_purchase_gender.map('${:,.2f}'.format),
                     "Avg Total Purchase per Person":avg_person_gender.map('${:,.2f}'.format)})
                    
per_gender_df.sort_index()

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
Gender,,,,
Female,113,$3.20,$361.94,$4.47
Male,652,$3.02,"$1,967.64",$4.07
Other / Non-Disclosed,15,$3.35,$50.19,$4.56

In [19]:
# Create bins and labels
Bins = [0, 9, 14, 19, 24, 29, 34, 39, 54]

groups = ["<10","10-14","15-19","20-24","25-29","30-34","35-39","40+"]

drop_duplicates = data_file_df.drop_duplicates(["SN"], keep = "last")
age_demo = pd.cut(drop_duplicates["Age"], Bins, labels=groups)
age_demo

1        40+
2      20-24
3      20-24
4      20-24
6      35-39
       ...
775    20-24
776    20-24
777    20-24
778      <10
779    20-24
Name: Age, Length: 576, dtype: category
Categories (8, object): [<10 < 10-14 < 15-19 < 20-24 < 25-29 < 30-34 < 35-39 < 40+]

In [20]:
# Group players by age ranges
age_total = age_demo.value_counts()
age_total

20-24    258
15-19    107
25-29     77
30-34     52
35-39     31
10-14     22
<10       17
40+       12
Name: Age, dtype: int64

In [21]:
# Calculate the percentage by age group
age_percents = age_total / len(players) * 100
age_percents

20-24    44.791667
15-19    18.576389
25-29    13.368056
30-34     9.027778
35-39     5.381944
10-14     3.819444
<10       2.951389
40+       2.083333
Name: Age, dtype: float64

In [22]:
# Display data frame
demographics_df = pd.DataFrame({"Total Count": age_total,
                                   "Percentage of Players": age_percents})
demographics_df.sort_index()

demographics_df["Percentage of Players"] = demographics_df["Percentage of Players"].map("{:,.2f}%".format)
demographics_df.sort_index()

       Total Count Percentage of Players
<10             17                 2.95%
10-14           22                 3.82%
15-19          107                18.58%
20-24          258                44.79%
25-29           77                13.37%
30-34           52                 9.03%
35-39           31                 5.38%
40+             12                 2.08%

In [23]:
# Identify age groups
age_analysis = data_file_df
age_analysis["Age Ranges"] = pd.cut(age_analysis["Age"], Bins, labels=groups)
age_analysis.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price,Age Ranges
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53,20-24
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56,40+
2,2,Ithergue48,24,Male,92,Final Critic,4.88,20-24
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27,20-24
4,4,Iskosia90,23,Male,131,Fury,1.44,20-24

In [24]:
# Obtain purchase count by age groups
purchase_count = age_analysis.groupby(["Age Ranges"]).count()["Price"]
purchase_count

Age Ranges
<10       23
10-14     28
15-19    136
20-24    365
25-29    101
30-34     73
35-39     41
40+       13
Name: Price, dtype: int64

In [25]:
# Calculate average price by age groups
avg_purchase_price = age_analysis.groupby(["Age Ranges"]).mean()["Price"]
avg_purchase_price

Age Ranges
<10      3.353478
10-14    2.956429
15-19    3.035956
20-24    3.052219
25-29    2.900990
30-34    2.931507
35-39    3.601707
40+      2.941538
Name: Price, dtype: float64

In [26]:
# Obtain total purchase value by age groups
total_purchase_value = age_analysis.groupby(["Age Ranges"]).sum()["Price"]
total_purchase_value

Age Ranges
<10        77.13
10-14      82.78
15-19     412.89
20-24    1114.06
25-29     293.00
30-34     214.00
35-39     147.67
40+        38.24
Name: Price, dtype: float64

In [27]:
# Calculate average price per person in each age groups
avg_purchase_person = age_analysis.groupby(["Age Ranges"]).sum()["Price"] / age_analysis.groupby(["Age Ranges"]).nunique()["SN"]
avg_purchase_person

Age Ranges
<10      4.537059
10-14    3.762727
15-19    3.858785
20-24    4.318062
25-29    3.805195
30-34    4.115385
35-39    4.763548
40+      3.186667
dtype: float64

In [28]:
# Display data frame
purchasing_analysis = pd.DataFrame({"Purchase Count" : purchase_count,
                              "Average Purchase Price" : avg_purchase_price.map('${:,.2f}'.format), 
                              "Total Purchase Value" : total_purchase_value.map('${:,.2f}'.format), 
                              "Average Purchase per Person" : avg_purchase_person.map('${:,.2f}'.format)})
purchasing_analysis

,Purchase Count,Average Purchase Price,Total Purchase Value,Average Purchase per Person
Age Ranges,,,,
<10,23,$3.35,$77.13,$4.54
10-14,28,$2.96,$82.78,$3.76
15-19,136,$3.04,$412.89,$3.86
20-24,365,$3.05,"$1,114.06",$4.32
25-29,101,$2.90,$293.00,$3.81
30-34,73,$2.93,$214.00,$4.12
35-39,41,$3.60,$147.67,$4.76
40+,13,$2.94,$38.24,$3.19

In [29]:
# Calculate purchase count by player
spender_count = data_file_df.groupby(["SN"]).count()["Price"]
spender_count.head()

SN
Adairialis76    1
Adastirin33     1
Aeda94          1
Aela59          1
Aelaria33       1
Name: Price, dtype: int64

In [30]:
# Obtain average price spent by player
spender_avg = data_file_df.groupby(["SN"]).mean()["Price"]
spender_avg.head()

SN
Adairialis76    2.28
Adastirin33     4.48
Aeda94          4.91
Aela59          4.32
Aelaria33       1.79
Name: Price, dtype: float64

In [31]:
# Calculate total value spent by player
spender_total = data_file_df.groupby(["SN"]).sum()["Price"]
spender_total.head()

SN
Adairialis76    2.28
Adastirin33     4.48
Aeda94          4.91
Aela59          4.32
Aelaria33       1.79
Name: Price, dtype: float64

In [32]:
# Display data frame
top_spenders_df = pd.DataFrame({"Purchase Count": spender_count,
                    "Average Purchase Price": spender_avg,
                    "Total Purchase Value": spender_total})

top_spenders_table = top_spenders_df.sort_values(by=['Total Purchase Value'], ascending=False)

top_spenders_table["Average Purchase Price"] = top_spenders_df["Average Purchase Price"].map("${:,.2f}".format)
top_spenders_table["Total Purchase Value"] = top_spenders_df["Total Purchase Value"].map("${:,.2f}".format)

top_spenders_table.head()

             Purchase Count Average Purchase Price Total Purchase Value
SN
Lisosia93                 5                  $3.79               $18.96
Idastidru52               4                  $3.86               $15.45
Chamjask73                3                  $4.61               $13.83
Iral74                    4                  $3.40               $13.62
Iskadarya95               3                  $4.37               $13.10

In [33]:
# Group data by Item ID and Item Name
grouped_item = data_file_df.groupby(["Item ID", "Item Name", "Price"])
grouped_item

count_item = data_file_df.groupby(["Item ID", "Item Name"]).count()["Price"]
count_item.head()

Item ID  Item Name
0        Splinter              4
1        Crucifer              4
2        Verdict               6
3        Phantomlight          6
4        Bloodlord's Fetish    5
Name: Price, dtype: int64

In [34]:
# Get the price average 
item_price = data_file_df.groupby(["Item ID", "Item Name"]).mean()["Price"]
item_price.head()

Item ID  Item Name
0        Splinter              1.2800
1        Crucifer              2.9425
2        Verdict               2.4800
3        Phantomlight          2.4900
4        Bloodlord's Fetish    1.7000
Name: Price, dtype: float64

In [35]:
# Obtain the total value
total_purchase = data_file_df.groupby(["Item ID", "Item Name"]).sum()["Price"]
total_purchase.head()

Item ID  Item Name
0        Splinter               5.12
1        Crucifer              11.77
2        Verdict               14.88
3        Phantomlight          14.94
4        Bloodlord's Fetish     8.50
Name: Price, dtype: float64

In [36]:
# Display data frame sorting by purchasing count
summary_popular_df = pd.DataFrame({"Purchase Count": count_item,
                              "Item Price": item_price.map('${:,.2f}'.format),
                              "Total Purchase Value": total_purchase.map('${:,.2f}'.format)})
                             
popular_items = summary_popular_df.sort_values(by=["Purchase Count"], ascending=False)
popular_items.head()

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
92,Final Critic,13,$4.61,$59.99
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
145,Fiery Glass Crusader,9,$4.58,$41.22
132,Persuasion,9,$3.22,$28.99
108,"Extraction, Quickblade Of Trembling Hands",9,$3.53,$31.77

In [37]:
# Display data frame sorting by total purchase value
profitable_items = summary_popular_df.sort_values(by=["Purchase Count", "Total Purchase Value"], ascending=False)
profitable_items.drop_duplicates()

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
92,Final Critic,13,$4.61,$59.99
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
82,Nirvana,9,$4.90,$44.10
145,Fiery Glass Crusader,9,$4.58,$41.22
108,"Extraction, Quickblade Of Trembling Hands",9,$3.53,$31.77
...,...,...,...,...
90,Betrayer,1,$2.94,$2.94
118,"Ghost Reaver, Longsword of Magic",1,$2.17,$2.17
126,Exiled Mithril Longsword,1,$2.00,$2.00
104,Gladiator's Glaive,1,$1.93,$1.93
42,The Decapitator,1,$1.75,$1.75

In [ ]:
Observed trends from Heroes of Pymoli analysis:

* The majority of players are male 84.03%

* 44.79% of the players are 20-24 years old

*The top items
92 - Final Critic
178 - Oathbreaker, Last Hope of the Breaking Storm